* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: HelveticaNeue, Helvetica, sans-serif;
}

.nav {
  color: white;
}

.nav__trigger-finger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 10px;
  margin: 40px;
  color: hotpink;
}

.nav__trigger-finger::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  background: hotpink;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s cubic-bezier(0.75, 0, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.75, 0, 0.25, 1);
}

.nav__trigger-finger span {
  display: block;
  width: 100%;
  height: 2px;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.75, 0, 0.25, 1);
  transition: -webkit-transform 1s cubic-bezier(0.75, 0, 0.25, 1);
  transition: transform 1s cubic-bezier(0.75, 0, 0.25, 1);
  transition: transform 1s cubic-bezier(0.75, 0, 0.25, 1), -webkit-transform 1s cubic-bezier(0.75, 0, 0.25, 1);
  background: currentColor;
}

.nav__trigger-finger span::before, .nav__trigger-finger span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  height: 2px;
  background: currentColor;
  -webkit-transition: top 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.75, 0, 0.25, 1);
  transition: top 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.75, 0, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.75, 0, 0.25, 1), top 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.75, 0, 0.25, 1), top 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.75, 0, 0.25, 1);
}

.nav__trigger-finger span::before {
  top: 0;
}

.nav__trigger-finger span::after {
  top: calc(100% - 2px);
}

.nav__trigger-input, .nav__submenu-trigger-input {
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: fixed;
}

.nav__trigger-input:focus + label {
  color: white;
}

.nav__trigger-input:focus + label::before {
  opacity: 1;
}

.nav__trigger-input:checked + label {
  height: 10px;
  color: white;
}

.nav__trigger-input:checked + label span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__trigger-input:checked + label span::before, .nav__trigger-input:checked + label span::after {
  top: calc(50% - 1px);
  -webkit-transition: top 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1), -webkit-transform 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1);
  transition: top 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1), -webkit-transform 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1);
  transition: transform 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), top 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1);
  transition: transform 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), top 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1), -webkit-transform 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1);
}

.nav__trigger-input:checked + label span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav__trigger-input:checked ~ ul {
  z-index: 9;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}

.nav__list {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: hotpink;
  font-size: 4rem;
  padding: 40px;
  -webkit-transform: translate(100vw) rotate(45deg);
          transform: translate(100vw) rotate(45deg);
  -webkit-transition: 0.2s cubic-bezier(0.75, 0, 0.25, 1);
  transition: 0.2s cubic-bezier(0.75, 0, 0.25, 1);
}

.nav__item {
  list-style: none;
}

.nav__item + .nav__item {
  margin-top: 20px;
}

.nav__submenu-trigger-input:checked + label::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.nav__submenu-trigger-input:checked ~ ul {
  display: block;
}

.nav__submenu-trigger-input:focus + label::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.nav__submenu-trigger-finger::after {
  content: "";
  display: inline-block;
  border: 10px solid transparent;
  border-top-color: white;
  -webkit-transition: 0.4s cubic-bezier(0.75, 0, 0.25, 1);
  transition: 0.4s cubic-bezier(0.75, 0, 0.25, 1);
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.nav__list-child {
  display: none;
  font-size: 2rem;
  margin-top: 10px;
  padding-left: 2rem;
}

main {
  padding: 6rem 4rem;
}

main h1 {
  font-size: 3rem;
  font-weight: normal;
}

main h1 span {
  color: hotpink;
}

main p {
  line-height: 1.5;
  margin-top: 1.5rem;
}

body {
  background-color: #191919;
  font-family: 'Open Sans', sans-serif;
}

.text {
  opacity: 0;
  position: absolute;
  z-index: 7;
  text-align: left;
  margin: -50px 0 0 -150px;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
  font-size: 48px;
  font-weight: 700;
  -webkit-animation: on .6s ease-in-out 3.7s forwards;
  animation: on .6s ease-in-out 3.7s forwards;
}

.text p {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  -webkit-animation: type .3s steps(60, end) 3.7s;
  animation: type .3s steps(60, end) 3.7s;
}

.text p:nth-child(2) {
  -webkit-animation: type2 .5s steps(60, end) 3.7s;
  animation: type2 .5s steps(60, end) 3.7s;
}

.text button {
  border: 0;
  opacity: 0;
  background: #191919;
  color: #f5d300;
  border: 1px solid #191919;
  letter-spacing: 2px;
  padding: .5rem 2.5rem;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  -webkit-animation: on .6s ease-in-out 4s forwards;
  animation: on .6s ease-in-out 4s forwards;
}

.text button:hover {
  background: #f5d300;
  color: #191919;
  border: 1px solid #191919;
}

.splash {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.splash_logo {
  position: absolute;
  margin: -15px 0 0 -25px;
  top: 50vh;
  z-index: 5;
  left: 50vw;
  width: 50px;
  text-align: center;
  height: 30px;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  opacity: 1;
  will-change: opacity;
  -webkit-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
  animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
}

.splash_logo:before {
  display: block;
  position: absolute;
  left: 15px;
  bottom: -5px;
  width: 20px;
  height: 1px;
  background-color: #757474;
  content: "";
}

.splash_logo:after {
  display: block;
  position: absolute;
  left: 15px;
  top: -5px;
  width: 20px;
  height: 1px;
  background-color: #757474;
  content: "";
  will-change: width;
}

.splash_svg {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}

.splash_svg svg {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.splash_svg svg rect {
  width: 100%;
  height: 100%;
  fill: #f5d300;
  stroke: 0;
  -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  -webkit-animation: expand .7s ease-in forwards 2.7s;
  animation: expand .7s ease-in forwards 2.7s;
}

.splash_minimize {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}

.splash_minimize svg {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.splash_minimize svg rect {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  -webkit-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
}

@-webkit-keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}

@keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}

@-webkit-keyframes hide {
  100% {
    fill: transparent;
  }
}

@keyframes hide {
  100% {
    fill: transparent;
  }
}

@-webkit-keyframes off {
  100% {
    opacity: 0;
  }
}

@keyframes off {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes on {
  100% {
    opacity: 1;
  }
}

@keyframes on {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logo {
  100% {
    color: #292929;
  }
}

@keyframes logo {
  100% {
    color: #292929;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@-webkit-keyframes expand {
  0% {
  }
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: #f5d300;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #f5d300;
  }
}

@keyframes expand {
  0% {
  }
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: #f5d300;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #f5d300;
  }
}
/*# sourceMappingURL=index.css.map */