*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#main {
  flex-grow: 1;
}

body {
  position: relative;
  font-family: Montserrat;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

/* index */

.emailMe {
  position: relative;
  right: 7em;
}

p {
  text-align: left;
  margin: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14pt;
  line-height: 133%;
  color: #003252;
}

#container0 {
  width: 100%;
  height: 10px;
  border: #db7093;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: left;
  padding-left: 4%;
}

#container0 a {
  position: relative;
  text-decoration: underline #a7f2fc;
  color: #003252;
  top: 2em;
}

#container0 img {
  width: 40%;
}

#container1 {
  display: block;
  width: 37%;
  position: relative;
  margin: 12rem 8rem;
}

h3 {
  display: block;
  font-size: 36pt;
  top: 25em;
  right: 4.15em;
  color: #003252;
}

.pCursive {
  font-family: lora;
  font-style: italic;
  font-size: 16pt;
  color: #003252;
}

#container2 {
  display: block;
  position: relative;
  width: 45%;
  /* top | right | bottom | left */
  margin: 0rem 7rem 0rem 0rem;
  float: right;
  top: 38rem;
}

.image1 {
  position: relative;
  width: 300px;
  margin: 25rem 6rem;
}

.image2 {
  position: relative;
  width: 750px;
  height: 750px;
  object-fit: cover;
  object-position: center right;
  top: -20rem;
  margin: 0rem 0rem 0rem 0rem;
  float: left;
}

.image3 {
  position: relative;
  width: 450px;
  top: -5rem;
  margin: 0rem 6rem;
  float: right;
}

#container3 {
  position: relative;
  width: 30%;
  margin: 0rem 10rem 0rem 0rem;
  top: -10rem;
  float: right;
}

.imageTS {
  width: 450px;
  top: 0em;
  left: 0em;
}

#myWork {
  position: relative;
  top: 5rem;
  width: 20%;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.imageSewable {
  position: relative;
  width: 100%;
  object-fit: cover;
  left: 0;
}

h1 {
  text-align: center;
  color: #003252;
}

a {
  text-decoration: none;
  color: #008cba;
}

.space {
  margin: 2.5%;
}

/* Navigation */

.menu {
  font-weight: 100;
  background: white;
  width: 175px;
  height: 100%;
  padding-left: 40px;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: -3px 0px 5px 0px #00335220;
  box-shadow: -3px 0px 5px 0px #00335220;
  right: -130px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  color: #003252;
}

.menu:hover,
.menu:focus {
  -webkit-transform: translate3d(-130px, 0, 0);
  transform: translate3d(-130px, 0, 0);
  -webkit-animation-timing-function: 1s ease-in;
  animation-timing-function: 1s ease-in;
}

.menu .title {
  top: 15%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  left: 0;
  font-weight: 800;
  font-size: 15px;
}

.menu .nav {
  position: absolute;
  top: 20%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 100;
}

.menu .nav li {
  padding: 20px 50px 20px 5px;
  list-style-type: none;
}

.menu .nav li a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.menu .nav li a:hover {
  color: #d67280;
}

.menu .active {
  background-color: #d67280;
  padding: 10px 10px 10px 0px;
  color: white;
  width: 150px;
}

/* Navigation end */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin: auto;
  width: 75%;
  height: 100%;
  border: 2px solid #000000;
  padding: 5px;
}
table th {
  border: 2px solid #000000;
  padding: 5px;
}
table td {
  border: 2px solid #000000;
  padding: 5px;
}

h1 {
  text-align: center;
  color: #003252;
}

a {
  text-decoration: none;
  color: #008cba;
}

/* Contact me form */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #a7f2fc;
  border-radius: 0px 0px 8px 0px;
  resize: vertical;
}
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #a7f2fc;
  border-radius: 0px 0px 8px 0px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #d67280;
  color: white;
  padding: 4px 10px 4px;
  border: none;
  border-radius: 0px 0px 8px 0px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #d6727fdc;
}

.containerAbout {
  width: 75%;
  padding: 5% 5%;
  margin: 5% 11% 5%;
  justify-content: center;
  align-items: center;
  background: #a7f2fc;
  box-shadow: 3px 3px 0px 6px #d67280;
  border-radius: 0px 0px 8px 0px;
}

/* Contact me form end */

/* Portfolio Containers */

/* container 1 */

.containerP1 {
  position: relative;
  width: 100%;
  margin: 8rem 0 0rem 0rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #a7f2fc;
  border-radius: 0px 0px 8px 0px;
}

.containerP1 img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  object-position: center top;
  border-radius: 100%;
  box-shadow: 3px 3px 0px 6px #45a9bb;
  overflow: hidden;
}

.containerP1 h3 {
  color: #45a9bb;
  margin-right: 6rem;
}

.containerP1 h3 p {
  color: #45a9bb;
  margin-right: 8rem;
}

/* container 1 */

/* Book */

.containerP2 {
  position: relative;
  height: auto;
  width: 100%;
  border-radius: 0px 0px 8px 0px;
  margin: 8rem 6rem 0rem 0rem;
}

#bookImg {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.containerP2 h3 {
  position: absolute;
  color: #003252;
  top: 12rem;
  /* top | right | bottom | left */
  margin-left: 7rem;
  font-size: 40pt;
}

.containerP2 p {
  color: #003252;
  padding-right: 58rem;
  font-size: 14pt;
}

/* book */

/* container 3 */

.containerP3 {
  position: relative;
  top: 0;
  width: 100%;
  height: 55rem;
  /* top | right | bottom | left */

  padding: 6rem 5rem 4rem 4rem;
  justify-content: center;
  align-items: center;
  background-color: #003252;
  border-radius: 0px 0px 8px 0px;
}

.containerP3 img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  object-position: center top;
  border-radius: 100%;
  box-shadow: 3px 3px 0px 6px #003252;
}

.containerP3 h3 {
  color: #ffffff;
  margin-left: 3rem;
}

.containerP3 h3 p {
  color: #ffffff;
  padding-right: 10rem;
}

/* container 3 */

/* container 4 */

.containerP4 {
  position: relative;
  top: 0;
  width: 100%;
  padding: 23rem;
  height: 64rem;
  background-color: #d6727fd8;
  z-index: 4;
}

.containerP4 h3 {
  color: #ffffff;
}

.containerP4 p {
  color: #ffffff;
}

/* container 4 */

/* container 5 */

.containerP5 {
  position: relative;
  width: 100%;
  margin: 8rem 0rem 0rem 0rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0px 0px 8px 0px;
}

.containerP5 img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  object-position: center top;
  overflow: hidden;
}

.containerP5 h3 {
  color: #d67280;
  margin-left: 4rem;
  padding-right: 4rem;
}

.containerP5 h3 p {
  color: #d67280;
}

/* container 5 */

/* extra images on portfolio page */

#macaron {
  position: absolute;
  width: 40rem;
  height: 40rem;
  top: 22rem;
  left: 2rem;
  object-fit: cover;
  object-position: center top;
  z-index: 8;
}

#sunshine {
  position: absolute;
  right: 2rem;
  top: 12rem;
  width: 55rem;
  height: 55rem;
  object-fit: cover;
  object-position: center top;
  overflow: hidden;
  border-image-slice: 1;
  z-index: 6;
}

/* Parallax */

.parallax1 {
  background-image: url("../images/portfolioImages/BookPrototype.jpg");
  min-height: 850px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  background-image: url("../images/portfolioImages/BoysAndGirlsClub.png");
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Parallax */

/* extra images on portfolio page */

button {
  width: 10%;
  margin: 0% 11%;
  justify-content: center;
  align-items: center;
  background: #d67280;
  color: white;
  border-radius: 0px 0px 8px 0px;
}

.space {
  margin: 2.5%;
}

.btn-primary {
  background-color: #d67280;
  border: #d67280;
  margin-top: 2rem;
}
.btn-primary:hover {
  background-color: #003252;
}

/*Technical Skills Section */

#tstitle {
  position: relative;
  top: 0rem;
  display: block;
  left: 4rem;
}

#card1 {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
}

#card1 p {
  font-family: lora;
  font-style: italic;
  font-size: 12pt;
}

/* end of Technical Skills Section */

.col h3 {
  margin-top: 25%;
  font-size: 40pt;
}

.col p {
  font-size: 14pt;
}

/* Dumb ass stupid footers */
footer {
  margin-top: 2rem;
}

footer p {
  display: inline;
  padding: 1rem;
  font-size: 12pt;
  font-weight: bold;
  float: left;
}

#copyright {
  padding-right: 3.5rem;
}
