*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#main {
  flex-grow: 1;
}

body {
  position: relative;
  font-family: Montserrat;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

/* index */

.emailMe {
  position: relative;
  right: 7em;
}

p {
  text-align: left;
  margin: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14pt;
  line-height: 133%;
  color: #003252;
}

#container0 {
  width: 100%;
  height: 10px;
  border: #db7093;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: left;
  padding-left: 4%;
}

#container0 a {
  position: relative;
  text-decoration: underline #a7f2fc;
  color: #003252;
  top: 2em;
}

#container0 img {
  width: 40%;
}

#container1 {
  width: 100%;
  height: 200px;
  display: block;
}

#container1 p {
  width: 36%;
  position: relative;
  top: 270px;
  right: 24%;
}

.pIntro {
  font-style: normal;
  font-size: 28pt;
}

.pLight {
  font-family: Montserrat;
  font-style: light;
  font-size: 16pt;
}

h3 {
  display: block;
  font-size: 36pt;
  top: 25em;
  right: 4.15em;
  color: #003252;
}

.pCursive {
  font-family: lora;
  font-style: italic;
  font-size: 16pt;
  color: #003252;
}

#container2 {
  display: block;
  position: relative;
  width: 45%;
  margin: 10rem;
  float: right;
  top: 50rem;
}

.image1 {
  position: relative;
  width: 300px;
  left: 8em;
  top: 50rem;
}

.image3 {
  position: relative;
  width: 450px;
  top: 70rem;
  right: -12rem;
}

.image2 {
  position: relative;
  top: 40rem;
}

#container3 {
  position: relative;
  top: -10rem;
  width: 30%;
  margin: 10rem;
  float: right;
}

.imageTS {
  width: 450px;
  top: 39em;
  left: 25em;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.imageSewable {
  position: relative;
  width: 100%;
  object-fit: cover;
  left: 0;
}

h1 {
  text-align: center;
  color: #003252;
}

a {
  text-decoration: none;
  color: #008cba;
}

.space {
  margin: 2.5%;
}

/* Navigation */

.menu {
  font-weight: 100;
  background: white;
  width: 175px;
  height: 100%;
  padding-left: 40px;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: -3px 0px 5px 0px #00335220;
  box-shadow: -3px 0px 5px 0px #00335220;
  right: -130px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  color: #003252;
}

.menu:hover,
.menu:focus {
  -webkit-transform: translate3d(-130px, 0, 0);
  transform: translate3d(-130px, 0, 0);
  -webkit-animation-timing-function: 1s ease-in;
  animation-timing-function: 1s ease-in;
}

.menu .title {
  top: 15%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  left: 0;
  font-weight: 800;
  font-size: 15px;
}

.menu .nav {
  position: absolute;
  top: 20%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 100;
}

.menu .nav li {
  padding: 20px 50px 20px 5px;
  list-style-type: none;
}

.menu .nav li a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.menu .nav li a:hover {
  color: #d67280;
}

.menu .active {
  background-color: #d67280;
  padding: 10px 10px 10px 0px;
  color: white;
  width: 150px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin: auto;
  width: 75%;
  height: 100%;
  border: 2px solid #000000;
  padding: 5px;
}
table th {
  border: 2px solid #000000;
  padding: 5px;
}
table td {
  border: 2px solid #000000;
  padding: 5px;
}

h1 {
  text-align: center;
  color: #003252;
}

a {
  text-decoration: none;
  color: #008cba;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #a7f2fc;
  border-radius: 0px 0px 8px 0px;
  resize: vertical;
}
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #a7f2fc;
  border-radius: 0px 0px 8px 0px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #d67280;
  color: white;
  padding: 4px 10px 4px;
  border: none;
  border-radius: 0px 0px 8px 0px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #d6727fdc;
}

.container {
  width: 75%;
  padding: 5% 5%;
  margin: 5% 11% 5%;
  justify-content: center;
  align-items: center;
  background: #a7f2fc;
  box-shadow: 3px 3px 0px 6px #d67280;
  border-radius: 0px 0px 8px 0px;
}

button {
  width: 10%;
  margin: 0% 11%;
  justify-content: center;
  align-items: center;
  background: #d67280;
  color: white;
  border-radius: 0px 0px 8px 0px;
}

.space {
  margin: 2.5%;
}

.btn-primary {
  background-color: #d67280;
  border: #d67280;
  margin-top: 2rem;
}
.btn-primary:hover {
  background-color: #003252;
}

#card1 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
  justify-content: space-evenly;
  top: 26rem;
}

#card1 p {
  font-family: lora;
  font-style: italic;
  font-size: 12pt;
}

#tstitle {
  position: relative;
  top: 54rem;
  display: block;
  left: 4rem;
}

#chevron-up-circle-outline {
  color: #003252;
}

.col img {
  width: 28rem;
  height: 28rem;
  object-fit: cover;
  object-position: center top;
  border-radius: 100%;
  box-shadow: 3px 3px 0px 6px #003252;
}

.col h3 {
  margin-top: 8rem;
  font-size: 18pt;
}

.col p {
  font-size: 14pt;
}

.footer {
  position: absolute;
  top: 215rem;
  width: 100%;
  padding: 3em;
  width: 100%;
  background-color: #a7f2fc;
  box-shadow: -1px -1px 4px 1px #00335238;
  font-size: 12pt;
  z-index: 100;
}

.footer ul {
  list-style-type: none;
}

.footerP {
  position: absolute;
  top: 270rem;
  width: 100%;
  padding: 3em;
  width: 100%;
  background-color: #a7f2fc;
  box-shadow: -1px -1px 4px 1px #00335238;
  font-size: 12pt;
  z-index: 100;
}

.footerP ul {
  list-style-type: none;
}

.footerA {
  position: absolute;
  top: 75rem;
  width: 100%;
  padding: 3em;
  width: 100%;
  background-color: #a7f2fc;
  box-shadow: -1px -1px 4px 1px #00335238;
  font-size: 12pt;
  z-index: 100;
}

.footerA ul {
  list-style-type: none;
}
